# Dependências
/node_modules

# Arquivos de build
/build

# Arquivos de log
/logs


# Arquivos de cache
/.cache

# Arquivos temporários
/.tmp

# Arquivos de backup
*.bak

# Arquivos de ambiente local
.env