# Dependências
/node_modules

# Arquivos de build
/build

# Arquivos de log
/logs

# Arquivos de configuração
/config/*.env

# Arquivos de cache
/.cache

# Arquivos temporários
/.tmp

# Arquivos de backup
*.bak

# Arquivos de ambiente local
.env

# Arquivos de ambiente de desenvolvimento
.env.development

# Arquivos de ambiente de produção
.env.production